.navbar-custom {
    background-color: #1a232e;
}

.navbar-custom .navbar-brand{
    margin-left: 4%;
    color: white; 
    font-size: x-large;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}