*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c111b;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0c111b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
  }

h1 {
    color: white;
}

/* slide bar */

.carousel-container {
    /* background-color: #0c111b; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:  wrap;
}

.carousel {
    height: 250px;
    width: 100%;
    position: relative;
}

.carousel .switchLeft {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 30px;
    text-align: center;
    /* background-color: aqua; */
    font-family:  sans-serif;
    top: 0;
    z-index: 3; 
    text-decoration: none;
}

.carousel .switchRight {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 30px;;
    text-align: center;
    /* background-color: aqua; */
    font-family:  sans-serif;
    top: 0;
    z-index: 3;
    text-decoration: none;
}

.carousel .switchLeft {
    position: absolute;
    left: 0px;
}

.carousel .switchRight {
    position: absolute;
    right: 0px;
}

.carouselbox {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.carouselbox img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background: cover;
    background-color: lightgreen;
    margin-left: 2%;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;

}




.movie-heading-recomand {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    color: White;
}

.card {
    background-color: #0c111b;
}

.card-title{
    color: white;
}
  
.card-text{
    font-size: 18px;
    color: #c3bfbb;
}
  

