*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c111b;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0c111b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
  }

h1 {
    color: white;
}

/* slide bar */

.carousel-container {
    /* background-color: #0c111b; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:  wrap;
}

.carousel {
    height: 250px;
    width: 100%;
    position: relative;
}

.carousel .switchLeft {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 30px;
    text-align: center;
    /* background-color: aqua; */
    font-family:  sans-serif;
    top: 0;
    z-index: 3; 
    text-decoration: none;
}

.carousel .switchRight {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 30px;;
    text-align: center;
    /* background-color: aqua; */
    font-family:  sans-serif;
    top: 0;
    z-index: 3;
    text-decoration: none;
}

.carousel .switchLeft {
    position: absolute;
    left: 0px;
}

.carousel .switchRight {
    position: absolute;
    right: 0px;
}

.carouselbox {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.carouselbox img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background: cover;
    background-color: grey;
    margin-left: 2%;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;

}




.movie-heading-recomand {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    color: White;
}

.card {
    background-color: #0c111b;
}

.card-title{
    color: white;
}
  
.card-text{
    font-size: 18px;
    color: #c3bfbb;
}

/* Spacing Container */

.spacing-container {
    width: 100%;
    height: 30px;

}


/* Sort By Buttons */

.sort_by-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap:  wrap;
}


div.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:20px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

div.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    div.button1{
     display:block;
     margin:0.4em auto;
    }

}
/* Removing The stlye of input form button */

input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

