<style>
    .copyright-area{
        background: #1a232e;
        padding: 25px 0;
      }
      .copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
      }
      .copyright-text p a{
        color: #ff5e14;
      }
      .footer-menu li {
        display: inline-block;
        margin-left: 20px;
      }
      .footer-menu li:hover a{
        color: #ff5e14;
      }
      .footer-menu li a {
        font-size: 14px;
        color: #878787;
      }
    </style>

<footer>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy;, All Right Reserved</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="https://www.sachinlohar.com">Sachin</a></li>
                            <li><a href="https://www.linkedin.com/in/harshal-sangame-6817751b9/">Harshal</a></li>
                            <li><a href="https://www.linkedin.com/in/sahil-vaidya-a04701216/">Sahil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>