  {% load static %}
<header class="header header--loggedIn">
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed header__menu">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img src="{% static 'img/icon.png' %}" alt="" />
            <h1>MoodWise</h1>
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown">
            Movies <button class="dropdown-button">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>chevron-down</title>
                <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
              </svg>
            </button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'popular_movies' %}">Popular</a>
            <a class="dropdown-item" href="{% url 'top_rated_movies' %}">Top Rated</a>
            <a class="dropdown-item" href="{% url 'upcoming_movies' %}">Upcomming</a>
            <a class="dropdown-item" href="{% url 'now_playing_movies' %}">Now Playing</a>
            {% comment %} <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
          </div>
        </li>
        </ul>
        <!-- Logged In -->
        {% if request.user.is_authenticated %}
        <div class="header__user">
          <a href="#">
            <div class="avatar avatar--medium active">
              <img src="{{request.user.avatar.url}}" />
            </div>
            <p>{{request.user.name}} <span>@{{request.user.username}}</span></p>
          </a>
          <a href="{% url 'logout' %}" class="dropdown-link"
            ><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>sign-out</title>
              <path
                d="M3 0h22c0.553 0 1 0 1 0.553l-0 3.447h-2v-2h-20v28h20v-2h2l0 3.447c0 0.553-0.447 0.553-1 0.553h-22c-0.553 0-1-0.447-1-1v-30c0-0.553 0.447-1 1-1z"
              ></path>
              <path
                d="M21.879 21.293l1.414 1.414 6.707-6.707-6.707-6.707-1.414 1.414 4.293 4.293h-14.172v2h14.172l-4.293 4.293z"
              ></path>
            </svg>
            </a
          >
        </div>
        {% else %}
        <!-- Not Logged In -->
         <a href="{% url 'login' %}">
          <img src="{% static 'img/avatar.svg' %}" />
          Login
        </a>
        {% endif %}

      </div>
    </div>
      </nav>
    
  </header>