<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand " href="/"><strong>MoodWise</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'popular_movies' %}">Popular</a>
            <a class="dropdown-item" href="#">Top Rated</a>
            <a class="dropdown-item" href="#">Upcomming</a>
            <a class="dropdown-item" href="#">Now Playing</a>
            {% comment %} <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
          </div>
        </li>
      </ul>
      {% comment %} <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </nav>