{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href=" {% static 'Movie_recom_css/style.css' %} ">

    <script type="text/javascript">
        var films = {{ suggestions|safe }};
      </script>

        {% comment %} {% include 'common templates/messages.html' %}  {% endcomment %}        
        {% comment %} {% include 'movie/bannerCarousel.html' %}  {% endcomment %}
        {% comment %} <script src="{% static 'javascripts/carousels/carousel.js' %}"></script> {% endcomment %}
        <div class="carousel-container">
            <div class="carousel">
                <div class="carouselbox"></div>
                <a class="switchLeft sliderbutton" onclick = "sliderScrollLeft()"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="50" height="50"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M120.26563,10.25281c-1.78719,0.05375 -3.48031,0.80625 -4.73,2.08281l-68.8,68.8c-2.6875,2.6875 -2.6875,7.04125 0,9.72875l68.8,68.8c1.72,1.80062 4.28656,2.52625 6.70531,1.89469c2.40531,-0.63156 4.28656,-2.51281 4.91813,-4.91813c0.63156,-2.41875 -0.09406,-4.98531 -1.89469,-6.70531l-63.93563,-63.93563l63.93563,-63.93562c2.02906,-1.97531 2.64719,-4.99875 1.54531,-7.61906c-1.11531,-2.60688 -3.70875,-4.27313 -6.54406,-4.1925z"></path></g></g></svg></a>
                <a class="switchRight sliderbutton" onclick = "sliderScrollRight()"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="50" height="50"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M51.53281,10.25281c-2.80844,0 -5.32125,1.70656 -6.36938,4.3c-1.06156,2.59344 -0.43,5.56312 1.57219,7.51156l63.93562,63.93562l-63.93562,63.93563c-1.80063,1.72 -2.52625,4.28656 -1.89469,6.70531c0.63156,2.40531 2.51281,4.28656 4.91813,4.91813c2.41875,0.63156 4.98531,-0.09406 6.70531,-1.89469l68.8,-68.8c2.6875,-2.6875 2.6875,-7.04125 0,-9.72875l-68.8,-68.8c-1.30344,-1.33031 -3.07719,-2.08281 -4.93156,-2.08281z"></path></g></g></svg></a>
            </div>
        </div>
      
    
        {% comment %} <div class="row pt-2 d-flex justify-content-center">
            {% for m in without_query.results %}
                <div class="card ms-2" style="width: 18rem">
                    <img src="https://image.tmdb.org/t/p/w200{{ m.poster_path }}"
                         class="card-img-top"
                         alt="..."/>
                </div>
            {% endfor %} {% endcomment %}

    
    {% comment %} <div class ="sort_by-container">
        <a href="#" class="button1">Top Rated</a>
        <a href="#" class="button1">Upcomming</a>
        <a href="#" class="button1">Now Playing</a>
        <a href="#" class="button1">Recommend</a>
    </div> {% endcomment %}


        <form action="" method="get">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="input-group">
                        <input class="form-control border-end-0 border" name="q" placeholder="Search..." type="text" value="{{ q }}" id="autoComplete" >
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="submit">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </form>
        </div>

        {% comment %} Spacing Container {% endcomment %}

        <div class ="spacing-container">

        </div>

        {% comment %} SORT BY BUTTONS {% endcomment %}

        <form action="" method="get">
            <div class ="sort_by-container justify-content-center">
                <a href="{% url 'trending_movies' %}" class="button1" >Trending</a>
                <a href="{% url 'top_rated_movies' %}" class="button1" >Top Rated</a>
                <a href="{% url 'upcoming_movies' %}" class="button1" >Upcoming</a>
                <a href="{% url 'now_playing_movies' %}" class="button1" >Now Playing</a>
                <a href="" class="button1" >Recommend</a>    
            </div>
        </form>

        {% comment %} Spacing Container {% endcomment %}

        <div class ="spacing-container">

        </div>

        {% comment %} Machine Learing Searching container {% endcomment %}

        <form action="recommendations/" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="input-group">
                        <input class="form-control border-end-0 border" name="search_box" autocomplete="on" placeholder="Recommend Movies..." type="text" value="{{ search_box }}" id="autoComplete" required="required">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-danger">Submit</button>
                            {% comment %} <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="submit">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/>
                            </button> {% endcomment %}
                        </span>
                    </div>
                </div>
            </div>
            </form>
        </div>

        <div id="loader" class="text-center">
        </div>
        
          <div class="results">
          <center>
            <h2 id="name" class="text-uppercase"></h2>
          </center>
          </div>

        {% comment %} {% for item in data %}
        <div class="movie_container-ml">
            <img alt="poster" src={{ item.1 }}>
            <h3>{{ item.0 }}</h3>
        </div>
        {% endfor %} {% endcomment %}

        {% comment %} ...............................................{% endcomment %}

            <div class="row pt-2 d-flex justify-content-center">
                {% for m in movies.results %}
                    <div class="card ms-2" style="width: 18rem">
                        <img src="https://image.tmdb.org/t/p/w200{{ m.poster_path }}"
                             class="card-img-top"
                             alt="..."/>
                        <div class="card-body">
                            {% if not m.name %}
                                <h5 class="card-title pb-2">{{ m.title }}</h5>
                            {% else %}
                                <h5 class="card-title pb-2">{{ m.name }}</h5>
                            {% endif %}
                            <p class="card-text">
                                <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/> {{ m.vote_average }}
                            </p>
                            <a href="{% url 'moviedetail' m.id %}" class="btn btn-danger">View Details</a>
                        </div>
                    </div>
                {% endfor %}



    </div>

            {% include 'movie/trending_component.html' %}

            {% include 'movie/now_playing_component.html' %}

            {% include 'movie/top_rated_component.html' %}

            {% include 'movie/upcoming_component.html' %}

          <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"></script>
          
            <script>
              const sliders = document.querySelector(".carouselbox");
        
              var scrollPerClick;
              var imagepadding = 20
        
              showMovieData()

              var scrollAmount = 0;

              function sliderScrollLeft () {

                sliders.scrollTo ({

                  top: 0,
                  left: (scrollAmount -= scrollPerClick),
                  behavior: "smooth"

                });

                if (scrollAmount < 0 ) {
                   scrollAmount = 0
                }

              }

              function sliderScrollRight () {

                if (scrollAmount <=  sliders.scrollWidth - sliders.clientWidth) {
                  sliders.scrollTo ({

                    top: 0,
                    left: (scrollAmount += scrollPerClick),
                    behavior: "smooth"
  
                  });
                }

              }


        
              async function showMovieData() {
        
              const api_key = '05480c9212035931d585cd5d29ce6030';
        
              var result = await axios.get(
                  "https://api.themoviedb.org/3/movie/popular?api_key=" 
                  + api_key +
                  "&language=en-US&page=1"
              );
        
              result = result.data.results;
              
              result.map(function (curr, index) {
        
                  sliders.insertAdjacentHTML(
                    'beforeend',
                    `<img class="img-${index} slider-img" src="https://image.tmdb.org/t/p/w200/${curr.poster_path}" />`
                  )
        
              })
        
              scrollPerClick = document.querySelector(".img-1").clientWidth + imagepadding;
        
            }
        
            </script>
        {% comment %} <a href="{% url 'music' %}">Music</a> {% endcomment %}
    {% endblock content %}
