{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href=" {% static 'Movie_recom_css/style.css' %} ">

<div class="pt-5">
    <h2 class="p-4">Recommendations</h2>
    <div class="row pt-2 d-flex justify-content-center">
        {% for item in data %}
            <div class="card ms-2" style="width: 18rem">
                <img src="{{ item.1 }}"
                     class="card-img-top"
                     alt="..."/>
                <div class="card-body">
                        <h5 class="card-title pb-2">{{ item.0 }}</h5>
                </div>
            </div>
        {% endfor %}
</div>
</div>

{% endblock %}